{:paths ["src"]
 :deps  {funcool/urania            {:git/url "https://github.com/funcool/urania.git"
                                    :git/sha "8ef21474db8ecf97c29c668275dd104b30128cde"}
         funcool/promesa           {:mvn/version "10.0.594"}
         org.clojure/tools.logging {:mvn/version "0.6.0"}}

 :mvn/repos
 {"central" {:url "https://repo1.maven.org/maven2/"}
  "clojars" {:url "https://clojars.org/repo"}}}
